.fkpovp9 {
  background: none !important;
}

.f1aiijcp {
  flex: 0.3 1 !important;
}

h1.f17cfskt {
  font-size: 1vw !important;
}

h2.f1plhgbb {
  font-size: 1vw !important;
}

button.f1du2jpu {
  height: 2.5vw !important;
}
